{% include breadcrumb.html %}
<article>
<h1 id="{{ page.title | slugify }}">{{ page.title }} pitch schedule</h1>
<section class="matches">

<table>
  <tbody>
{% for match_data in page.items %}
{% assign match = match_data[1] %}
    <tr>
      <td>{{ match.time | date: "%H:%M" }}</td>
      <td>{{ match.group }}</td>
      <td>{{ match.home }}</td>
      <td>v</td>
      <td>{{ match.away }}</td>
    </tr>
{% endfor %}
  </tbody>
</table>
</section>
</article>

<h2>Information for pitch marshals</h2>

<ol class="faq">
  <li>Make sure the teams for the next match are ready to come to the pitch in plenty of time</li>
  <li>The referee may ask you to time the game. Check with him if there should be a half time or if they are playing straight through.</li>
  <li>Look after the match ball! Retrieve it from the pitch at the end of the game and hand it to the referee for the next game.</li>
  <li>If there are any safeguarding problems or other incidents, please make the Blackheath head coach for your age group aware immediately.</li>
</ol>
