---
---

@import "{{ site.theme }}";

.wrapper {
  width: 800px;
}

section {
  border: none;
  padding: 0;
  width: 540px;
}

footer { display: none; }

.group {
  padding: 0 0 2em;
}

.breadcrumb {
  margin: 0 0 2em;
  padding: 0;

  li {
    display: inline;

    + li:before {
      content: "» ";
    }
  }
}

.category {
  background: transparent;
  border: none;
  height: unset;
  margin: 0;
  width: unset;

  a {
    color: #267CB9;
    font-size: 1.17em;
    font-weight: bold;
    text-decoration: unset;
  }

  li {
    border: none;
    height: 2.5em;
    text-align: left;
    width: unset;
  }
}

@media screen and (min-width: 961px) {
  .category {
    li {
      display: table;
      float: none;
    }
  }
}

@media screen and (max-width: 960px) {
  body {
    font-size: 11px;
  }

  header {
    width: fit-content;

    h1, .subtitle {
      display: inline-block;
      font-size: 15px;
      margin: 0 0 1em;
    }

    .subtitle { &:before { content: " | " } }
  }

  section {
    width: 100%;
  }

  td, th {
    padding: 1px 4px;
  }

  .category {
    display: inline-block;
    margin: 0;
    padding: 0;
    position: unset;
    right: unset;
    top: unset;

    li {
      display: inline;

      + li {
        margin: 0 0 0 1em;
      }
    }
  }
}

@media print {
  footer  { display: block; }

  .category, .breadcrumb  { display: none; }
}
